/* -----------CSS Reset----------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light dark;
  height: 100%;
}

body {
  height: 100%;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* -----------Base Styles----------- */

body {
  background-color: hsl(275, 100%, 97%);
}

.pattern-container {
  background-color: hsl(292, 42%, 14%);
  position: absolute;
  z-index: -1;
  width: 100%;
}

.accordian-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.accordian-modal {
  background-color: #fff;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  border-radius: 16px;
}

.star-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

h1 {
  font-size: 56px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: hsl(292, 42%, 14%);
}

h2 {
  color: hsl(292, 42%, 14%);
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  pointer-events: none;
}

.arrow-icon {
  pointer-events: none;
}

.faq-title-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

p {
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: hsl(292, 42%, 14%);
  display: none;
  pointer-events: none;
}

.faqs-container {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
